body,html{
   
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;

}
.container{
    background: linear-gradient(135deg ,#943636 , rgba(122, 60, 163, 0.6));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.content{
    text-align: center;
    background-color: #edc7c7;
    padding: 2rem;
    max-width: 400px;
}
.logo{
    width: 150px;
    height: 75px;
    object-fit: contain;
}
h1{
    color: blueviolet;
    margin-bottom: 0;

}
p{
    color: chocolate;

}
form{
    display: flex;
    flex-direction: column;

}
input[type="email"]{
    padding: 10px;
    border-radius: 10px;
margin: 1rem;
}
button{
    padding: 10px;
    border-radius: 10px;
margin: 1rem;
cursor: pointer;
box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
transition:background-color 0.3s ease-in-out ;
}
button:hover{
    background-color: #943636;

}
